
@import "./variables";

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid @colorLightDark;

  &.clickable:hover {
    cursor: pointer;
    border-color: @colorPrimaryDarkest;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
