
@import "./variables";

.header {

  .dropdown.account-dropdown {

    .toggler {
      z-index: 1200;
      position: relative;

      .avatar {
        margin: -10px 0px -10px 0px;
      }
    }

    &.show .toggler .avatar {
      border-color: @colorPrimaryDarker;
    }

    .dropdown-menu {
      top: -46px !important;
      left: auto !important;
      right: -76px !important;

      .dropdown-header {
        margin-right: 42px;
      }

      a:hover, a:active {
        text-underline: none;
      }
    }
  }

  a {
    color: @colorLightest;
    text-underline: none;
  }
}
