
@import "./variables";

.message {

  &.mine .text {
    border-radius: 8px 8px 0 8px;
    background-color: @colorDarkLight;
  }

  .text {
    padding: 8px 12px;
    display: inline-block;
    color: @colorWhite;
    border-radius: 8px 8px 8px 0;
    background-color: @colorPrimaryDarkest;
  }

  .votes {
    padding: 8px 8px;
    display: inline-block;
    color: @colorWhite;
  }

  .body {

    .tools {
      display: inline-block;
      position: relative;
      width: 0;
      height: 38px;
      vertical-align: top;
      .list {
        display: block;
        position: absolute;
        padding: 0;
        border-radius: 20px;
        transition: all 0.3s;
        transition-delay: 0.2s;
        opacity: 0;
        left: 0;
        .item {
          display: block;
          list-style: none;
          transition: all 0.3s;
          transition-delay: 0.2s;
          position: absolute;
          top: 0;
          & + .item {
            top: 0;
            margin-top: 2px;
          }
          & + .item + .item {
            top: 0;
            margin-top: 2px;
          }
          .btn {
            border-radius: 20px;
            background: transparent;
            border-color: transparent;
            width: 38px;
            height: 38px;
          }
        }
      }
    }

    &:hover {
      .tools {
        .list {
          opacity: 1;
          left: -40px;
          .item {
            top: -40px;
            & + .item {
              top: 0;
              margin-top: 2px;
            }
            & + .item + .item {
              top: 40px;
              margin-top: 2px;
            }
            .btn:hover {
              background: @colorGrey;
              border-color: @colorDarkLight;
            }
          }
        }
      }
    }

  }
}