@import "./variables";

.profile {
  position: relative;
  background-color: @colorDarker;

  form {
    border-radius: 0;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: @colorDark;
    @width: 90%;

    .avatar-container {
      height: 180px;
      width: 180px;
      margin: 60px auto;
      border-radius: 50%;

      .upload {
        background: @colorDarker;
        border: 1px solid @colorDarkest;
        border-radius: 0.25rem;
        cursor: pointer;
        bottom: -50px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        left: 183px;
        line-height: 15px;
        position: absolute;
        padding: 7px 0;
        text-align: center;
        width: 150px;

        &:hover {
          background: @colorGrey;
        }

        &:active {
          background: @colorDarker;
        }
      }
    }

    input {
      margin-left: auto;
      margin-right: auto;
      width: @width;
      background-color: @colorDarker;
      border-color: @colorDarkest;
      color: @colorLightest;
    }

    label {
      text-align: left;
      color: @colorLight;
      width: @width;
      padding: 0 5px;
    }

    .form-group {
      margin-bottom: 20px;
    }
  }
}
